@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-section-p-color: #737474;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* common styling */
.hidden{
    display: none;
}

.inline-padding{
    padding-inline: 60px !important;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

/* Top header section */
header{
    width: 100%;
}

 .top-header p{
    font-size: medium;
}

 p{
    opacity: 0.7;
}

 .top-header{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.company-logo-sec{
    display: flex;
    gap: 5px;
}

.company-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

 .company-name h4{
    margin-top: 5px;
    line-height: 15px;
    font-weight: 600;
}

.top-header-second-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.contact-info-sec{
    display: flex;
    gap: 30px;
}

.contact-info-sec h4{
    font-weight: 600;
}

 .contact-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

 .contact-info i{
    font-size: 2rem;
}

 .contact-info > div p{
    margin-bottom: 5px;
}

.top-header-country-sec > select{
    border: none;
}



/* NavBar section */
 .navbar{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    padding: 20px 0px;
    background-color: rgb(148, 184, 246);
}

 .navbar-options{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10px;
    width: 80%;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: rgb(88, 88, 210);
    transition: all 0.2s linear;
}

  .nav-search{
    border: none;
    height: 100%;
    background-color: rgb(85, 145, 240);
    color: white;
    outline: none;
}

  .search{
    border: none;
    height: 66px;
    background-color: rgb(85, 145, 240);
    color: white;
    outline: none;
    padding-inline: 10px;
}

 .nav-search-before{
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    padding-inline: 10px;
}

 .nav-search-before i{
    font-size: 1.5rem;
}

 .nav-search-before p{
    margin-top: 15px;
    font-size: large;
}


/* hambuger css */

.hamburgerMenu{
  position: absolute;
  background-color:#7895f4;
  display: none;
  height: 100%;
  padding: 30px 8px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
 color: #fff;
 transition: all 0.8s;
}

.hamburger-menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hamburger-company-contact{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}

.hamburger-nav-options ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.mobile-menu{
  display: block;
}

.top-header .menu-bar{
  display: none;
  position: absolute;

  right: 40px;
}


/* responsive css for top header and nav bar*/
@media (max-width: 1300px) {
  .company-logo {
    width: 50px;
    height: 50px;
}
 header .company-name h4 {
    font-size: 14px;
    line-height: 8px;
}

.top-header-second-img{
  display: none;
}

 .company-name p {
  font-size: 10px;
}

.contact-info{
flex-direction: column;
text-align: center;
}
.contact-info p{
font-size: 12px;
}

.contact-info i{
font-size: medium;
}

.top-header-country-sec{
display: none;
}

.top-header h5{
font-size: 0.8rem;
}

/* nav bar section */
nav .navbar-options a{
font-size: 0.8rem;
}

.navbar .nav-search-before .fa-solid{
font-size: 14px ;
}

.navbar .nav-search-before p{
font-size: 14px;
}

/* responsive css  */

@media (max-width: 850px) {
  .nav-search{
    display: none;
  }

  .navbar-options{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-info-sec{
    display: none;
  }
}

@media (max-width: 768px){
  .top-header .menu-bar{
    display: block ;
  }
}

@media (max-width: 450px){
  header .top-header{
    padding-left: 10px !important;
  }
  .hamburger-contact-info-text p{
    font-size: x-small;
  }
  .hamburger-contact-info-text h5{
    font-size: x-small;
  }
}




/* main nav section  */
main .main-nav-options a{
font-size: 0.8rem;
}
}

/* hero section */
 .hero-section{
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-image: url('./public/hero\ image\ kneep\ pain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

 .hero-section > div i{
    color: rgb(250, 82, 82);
}

.hero-section-info h1{
    font-size: 3rem;
    margin-top: 20px;
}

 .hero-section-info{
    width: 70%;
    line-height: 30px;
}

.hero-section-info button{
    border-radius: 0px;
    border: none;
    margin-top: 10px;
}

/* responsive css for hero-section */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 30px 0px;
    }

     .hero-section-info {
        width: 90%;
    }

    .hero-section-info h5{
      font-size: .9rem;
    }

     .hero-section-info h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1050px) {
  .hero-section-info{
    width: 100%;
  }

  .hero-section-info h1{
    font-size: 2rem;
  }

  .hero-section-info h5{
    font-size: 1rem;
  }
  .hero-section-info p{
    font-size: 0.8rem;
  }

  .hero-section-info .btn{
    font-size: 0.8rem;
  }
}

/* main nav section */
 .main-nav-section{
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid rgb(229, 228, 228);
}

.main-nav-options ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
}

 .main-nav-options a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

 .main-nav-options a:after{
    content: "";
    position: absolute;
    background-color: #787af4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -25px;
    transition: 0.3s;
    
}

 .main-nav-options a:hover{
    color: #676565;
}

 .main-nav-options a:hover:after{
    width: 100%;
}

@media (max-width: 768px) {
     .main-nav-section  {
       display: none;
    }

     .main-nav-options a {
        padding: 10px 0;
    }
}

/* main section page */
.main-section-page{
    height: 80vh;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.main-section-page-1{
    border-bottom: 2px dotted blue;
}

.main-section-page p{
    color: var(--main-section-p-color);
}

 .main-section-page-1-img{
    width: 45%;
}

@media (max-width: 1024px) {
     .main-section-page {
      padding: 50px 0px;
        flex-direction: column;
        height: auto;
        justify-content: center;
    }

     .main-section-page-1-img {
        width: 100%;
    }
}

/* About Treatments sections */
.main-pages-section-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

 .main-pages-section-form h4{
    columns: blue !important;
}

 .main-pages-section-form .main-section-pages{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .main-section-page-2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 20px;
    border-bottom: 2px dotted blue;
    padding: 10px 0 20px 0;
}

@media (max-width: 768px) {
     .main-pages-section-form {
        flex-direction: column;
    }

    .main-pages-section-form .main-section-pages {
        width: 100%;
    }
}

/* sticky form section */
 .form-section {
    position: sticky;
    height: 470px;
    /* width: 100%; */
    max-width: 400px;
    top: 30%;
    padding: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-section h4{
    color: blue;
}

 .main-section-page-2 ul{
    list-style: circle inside none;
}

 .main-section-page-2 li{
    margin-bottom: 10px;
}

/* faqs-section */
 .faqs-question-section{
    padding-bottom: 40px;
}

 .faq-question{
    margin-bottom: 20px;
    cursor: pointer;
}

 .faqs-section hr{
    margin-top: -10px;
}

.faq-question h6{
    padding-bottom: 20px;
    border-bottom: 1px solid blue;
}

.faq-question-ans{
    margin: 10px 0 0 20px;
    padding-left: 20px;
    border-left: 2px solid blue;
    font-size: small;
}

.faq-question span{
    color: blue;
    font-size: 1rem;
}

/* patient stories section */
 .patient-stories-section{
    border: none;
}

 .patient-stories-section .card{
    border-radius: 0px;
}

 .card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-header-section{
    display: flex;
}

 .card-header-section i{
    font-size: 2.5rem;
}

 .card-img-top{
    height: 200px;
    object-fit: cover;
}

 .card-footer-section{
    display: flex;
    gap: 20px;
    align-items: center;
}

main .card-footer-section .card-preson-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

 .card-footer-section div{
    line-height: 5px;
}

 .card-footer-section p{
    font-size: small;
}

/* doctor section */
 .doctor-section{
    background-color: #e9e9e9;
    width: 100%;
    margin: 40px auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .doctor-section-heading{
    text-align: center;
}

 .doctor-card-section{
    width: 80%;
}

 .doctor-card-section .card{
    border-radius: 0%;
}

 .doctor-card{
    display: flex;
    gap: 40px;
    border-radius: 0px;
}

 .doctor-card-section .card-footer-section div{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.doctor-card-section .card-footer-section h6{
    color: red;
}

.doctor-card-section .card-footer-section h5{
    font-size: medium;
}

 .doctor-section h4 span{
    color: red;
}

.doctor-section h2 span{
    color: blue;
}

/* Ensure the carousel container is centered */
.owl-carousel {
  display: flex;
  justify-content: center;
}

/* Ensure each card item is centered within the carousel */
.owl-carousel .card {
  margin: 0 auto;
}

/* Additional responsive adjustments if needed */
@media (max-width: 768px) {
  .owl-carousel .card {
      width: 100%;
      margin: 10px 0;
  }
}


@media (max-width: 1000px) {

  main .doctor-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-inline: 10px;

  }
   
}
@media (max-width: 768px) {
     .doctor-card {
        flex-direction: column;
    }

}

/* hospital section */
.hospital-section, .hospital-section-header{
    background-color: #fff !important;
}

 .hospital-section .card{
    border: 2px dotted red;
    border-radius: 5px;
}

 .hospital-section .card img{
    height: 280px;
}

 .hospital-section a{
    text-decoration: underline;
}

/* footer section */
 .footer-top-section{
    background-image: url('./public/hero\ image\ kneep\ pain.jpg');
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
}

 .footer-top-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

 .footer-top-section .btn{
    border-radius: 0px;
}

 .contact-number{
    border-left: 1px solid white;
    padding: 8px;
}

 .footer-end-section{
    background-image: url('https://img.freepik.com/free-photo/3d-neon-lights-background_23-2150710753.jpg?t=st=1716976648~exp=1716980248~hmac=9998a91108d31de31d244b32573cd4b5d173c1ac0193720f92893d7b10b5da8c&w=1380');
    background-size: cover;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

 .footer-end-first-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 2px solid #737474;
}

 .footer-end-first-section ul{
    list-style: none;
    line-height: 35px;
}

 .footer-end-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    color: #000;
    width: 350px;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    right: 40px;
    top: -40px;
}



 .footer-card-heading{
    display: flex;
    align-items: center;
    gap: 20px;
}

 .footer-card-heading i{
    font-size: 2rem;
}

 .footer-card-heading div h5{
    margin-top: -15px;
}

.footer-card-heading div p{
    font-size: small;
}

.footer-end-card .detail{
    font-size: x-small;
}

 .medical-tourism{
    margin-top: 100px;
}


/* footer end second section */
 .footer-end-second-section{
    padding: 80px 0;
}

 .footer-company-info-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-abount-company{
    width: 600px;
}

 .company-name{
    line-height: 1px;
}

 .conpany-first-name{
    margin-bottom: -5px;
}
 .footer-company-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media-icon{
    display: flex;
    gap: 10px;
    font-size: 1.7rem;
    margin: 20px 0;
}

 .footer-contact-company h3{
    margin-top: -10px;
    color: rgb(140, 140, 255);
}

.footer-copyright-section{
    background-color: rgb(140, 140, 255);
    width: 100%;
    display: flex;
    gap: 20px;
    color: #fff;
    justify-content: space-between;
    padding: 20px 60px;
}

 .terms-conditioins{
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .footer-company-info-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

     .footer-abount-company, .footer-contact-company {
        width: 100%;
    }

    .footer-end-card{
      width: 250px;
    }
    .footer-end-card i{
      font-size: 1rem;
    }
  
    .footer-card-heading div p{
      font-size: 0.6rem;
    }
    .footer-card-heading div h5{
      font-size: 0.8rem;
    }
    .detail{
      margin: 0px;
    }
  
    .footer-end-first-section{
      margin-top: 40px;
      gap: 20px;
    }

    .footer-end-first-section h5{
      font-size: 1.2rem;
    }

    .footer-end-first-section li{
      font-size: 0.8rem;
    }
    .medical-tourism{
      margin-top: 0px;
    }

    .company-name h3,.footer-abount-company h3,.footer-contact-company h4{
      font-size: 1.4rem;
    }

    .footer-abount-company p{
      font-size: 0.8rem;
    }

    .footer-copyright-section span,.terms-conditioins p{
      font-size: 0.7rem;

    }
}
